* {
	box-sizing: border-box;
}

#wpmPrompt {
	font-size: 90%;
	padding: 1.5em 1.5em 3em 1.5em;
	line-height: 1.75;
	letter-spacing: 0.03em;
	text-align: left;
}

#wpmTest {
	font-size: 90%;
	border-radius: 5px;
	border: none;
	padding: 1em;
	margin-bottom: 2em;
}

#wpmDone {
	width: 10em;
	font-size: 80%;
	text-align: left;
	border-radius: 5px;
	padding: 0.5em;
	margin: 0 auto;
}

body {
	font-family: 'open sans';
	line-height: 1.25;
}
